
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--AboutBackground);
    padding-top: 3.5rem;
    padding-bottom: 7rem;
  }

  .main-card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 2.5rem 1.5rem;
    border-radius: 12px;
     background:var(--MainTrans);
     box-shadow: 0px 0px 10px var(--CardBackground);
  }

  .dots-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    align-self: self-start;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    gap: 0.8rem;
    background-color: #041b33; 
  }

  .dots-wrap h2{
    position: relative;
    left: -5%;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: #adff2f;
  }

  .dots-wrap_bottom{
    width: 100%;
    padding: 2rem;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    background-color: #041b33; 
  }

  .dots-wrap_bottom a {
    color: #adff2f;
    margin: 0 10px;
    font-size: 24px;
    transition: color 300ms;
  }
  
  .dots-wrap_bottom a:hover {
    color: #82cf0e;
  }
  
  [class*='dot-']{
    
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -15%;
    top: 0;
  }

  .dot-1{
  
    background: green;
  }

  .dot-2{

    background: yellow;
  }

  .dot-3{

    background: red;
  }
  
  .circle-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: space-between;
    gap: 2rem;
  }

  [class*='circle-image-']{
    display: flex;
    height: 20rem;
    width: 20rem;
    padding: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 8px var(--MainColor);
    transition: all 500ms ease-in-out;
    display: none;
  }

  .circle-image-1{
   
    background: url("../Assets/5665287_57802-removebg-preview.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  .circle-image-4{
   /* background-color: #041b33; */
    background:url("../Assets/6802364_26958-removebg-preview.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
 
  [class*='circle-image-']:hover{
    transform:scale(1.01);
    box-shadow: 0px 0px 5px  var(--PrimaryColor);
    opacity: 0.5;
  }
  
  .zoom-container{

    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 30rem;
    /* padding: 6px; */
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 1.2rem;
    opacity: 1;
    background-color: #041b33ae;
    box-shadow: 0px 0px 5px var(--CardBackground);
   transition: all 600ms  cubic-bezier(0.54,-0.34, 0.45, 1.28);
   
   
  }


  .inv-com{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: start;
    justify-content: space-around; 
    
  }



  .para-1{
    position: relative;
    margin: 10px 0px 10px 20px;
    padding:1rem;
    text-align: center;
    word-wrap: break-word;
    color: var(--PrimaryColor);
    font-size: 1.4em;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    transition: color 500ms ease-in-out;
  }

  .zoom-container:hover .para-1{
     color: #39ff14;
  }

  .zoom-container:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 5px  var(--PrimaryColor);
   
 }
  

/* 
@media screen and (min-width:768px){


  .about-me{padding: 8%;inset: unset;}


  [class*='dot-']{
  
    left: -6%;
  }
  [class*='circle-image-']{
    display: flex;

  }

  .zoom-container{width: 80%; }

  .circle-card-wrapper{ width: 100%; justify-content: space-around;padding: 1rem;}
  
}
  


.images-container {
  display: flex;
  max-width: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
} */
/* 
@media screen and (max-width: 600px){

  .zoom-container{width: 95%; }

  [class*='dot-']{
  
    left: -10%;
  }

  .dots-wrap h2{
font-size: 1.2em;
  }
}

@media screen and (max-width: 480px){

  .main-card-wrapper{
    padding: 0;
  }
  .main-card-wrapper{
    padding: 2.5rem 0rem;
  }

  [class*='dot-']{
  
    left: -8%;
  }

  .para-1{
    font-size: 1em;
  }

  .zoom-container{width: 100%; }
}

  
 */
