
.contact {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:var(--MainTrans);
    padding: 60px 60px 120px 60px;
    gap: 30px;
    flex-wrap: wrap;
    transition:transform 5200ms ease-in-out;
  }

  .mycontact{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  [class*='icon-Wrapper-']{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    color: var(--PrimaryColor);
    background-color:var(--MainColor);
    transition: all 275ms ease-in-out; 
  }

  .icon-Wrapper-1{border-top-right-radius: 12px;border-top-left-radius: 12px;}

  .icon-Wrapper-3{border-bottom-right-radius: 12px;border-bottom-left-radius: 12px; }

  .mycontact h5{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    font-weight: 400;
    color: var(--PrimaryColor);
  }

  .mycontact img{
   width: 26px;
   height: 26px;
   padding: 0;
   margin: 0;
  }

  .copyIcon{
    display: none;
    cursor: pointer;
    transition: all 275ms ease-in-out;  
  }

  

  [class*='icon-Wrapper-']:hover .copyIcon{ display: flex;}

  [class*='icon-Wrapper-']:hover{
    transform:scale(1.04);
    background-color: #ffffff1f;

  
  }


  /* .contact-title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 12px;
    
  } */
  
  .contact-title h1{
    color: var(--PrimaryColor);
    text-shadow: 2px 2px 10px var(--PrimaryColor);
    text-transform: uppercase;
      
  }
  
 

@media screen and (min-width:800px){

  .mycontact{

    flex-direction: row;
    column-gap: 10px;
  }

  [class*='icon-Wrapper-']{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    color: var(--PrimaryColor);
    background-color:var(--MainColor);
    transition: all 275ms ease-in-out; 
  }

  .icon-Wrapper-1{border-radius: 12px 0px 0px 12px;}

  .icon-Wrapper-3{border-radius: 0px 12px 12px 0px; }
  
}