*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.contact {
    display: flex;
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:var(--BaseColor);
    /* padding-top: 3.5rem;
    padding-bottom: 7rem; */
    gap: 2rem;
    flex-wrap: wrap;
    transition:transform 500ms ease-in-out;
  }

  .contact-title{
    color: var(--PrimaryColor);
  }

  .mycontact{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  [class*='icon-Wrapper-']{

    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    font-size: 1.4em;
    color: var(--PrimaryColor);
    transition: all 3000ms ease-in-out; 
    background-color: aliceblue;
  }

  .icon-Wrapper-1{border-top-right-radius: 12px;border-top-left-radius: 12px;}

  .icon-Wrapper-3{border-bottom-right-radius: 12px;border-bottom-left-radius: 12px; }

  .mycontact h5{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    font-weight: 400;
    /* color: var(--PrimaryColor); */
  }



  .copyIcon{
    cursor: pointer;
    transition: all 275ms ease-in-out;  
  }

  

 

  [class*='icon-Wrapper-']:hover{
    background-color: var(--PrimaryColor);
    color: var(--BaseColor);

  
  }

  
 
@media screen and (min-width:800px){

  .contact {padding: 60px 60px 120px 60px; }

  .mycontact{

    flex-direction: row;
    column-gap: 10px;
  }
  [class*='icon-Wrapper-'] .copyIcon{
    opacity: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;  
  }

  

  
  [class*='icon-Wrapper-']{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    color: var(--PrimaryColor);
    background-color:var(--BaseColor);
    transition: all 300ms ease-in-out; 
  }

  [class*='icon-Wrapper-']:hover{

    color: var(--BaseColor);
    background-color:var(--PrimaryColor);
  }

  [class*='icon-Wrapper-']:hover .copyIcon{ opacity: 1;}

  .icon-Wrapper-1{border-radius: 12px 0px 0px 12px;}

  .icon-Wrapper-3{border-radius: 0px 12px 12px 0px; }
  
}