* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.desktop-mockup {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  background: url('../Assets/wwwhirlk.svg');
  background-size: contain;
  background-color: var(--PrimaryColor);
  overflow: hidden;
}

.desktop-mockup h1 {

  font-size: 2em;
  z-index: 2;
  color: var(--BaseColor);
}

.desk-top_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  column-gap: 3rem;
  row-gap: 5.5rem;
}


.screen-container {
  max-width: 30rem;
  height: 27rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2.5rem;
  transition: all 300ms ease-in-out;
}

.screen {
  background-color: #000;
  width: 100%;
  height: 18.125rem;
  border-radius: 5px;
  position: relative;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2), 0 4px 8px rgba(0, 0, 0, 0.4);
  background: linear-gradient(145deg, #333, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.screen:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 1.8%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}


.screen img {
  max-width: 92%;
  height: 90%;
  border-radius: 5px;
}

.power-lump {
  width: 2.5%;
  height: 6px;
  background-color: #313131;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  top: 97%;
  left: 92%;
}

.power-button {
  width: 5px;
  height: 5px;
  background-color: #e43030;
  border-radius: 50%;
  position: absolute;
  top: 97%;
  right: 2%;
  animation: blink 3000ms ease-in-out infinite;
}

@keyframes blink {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }
}

.imac {
  display: flex;
  width: 45%;
  margin-top: 20%;
}

.imac img {
  width: 100%;
  height: 100%;
}

.stand {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.stand-neck {
  width: 30%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, #242424);
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.4);

}

.stand-neck svg {
  width: 1.25rem;
  height: auto;
  margin-top: 0.5rem;
}

.stand-base {
  width: 100%;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #353535, #060606);
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 2px 4px #ffffff33, 0 2px 4px rgba(0, 0, 0, 0.4);
}

.stand-base p {
  text-transform: capitalize;
  font-family: 'Roboto', cursive;
  font-size: 0.7rem;
  font-weight: 400;
  font-style: italic;
  color: #C0C0C0;
}

.controls {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  transition: all 300ms ease-in-out;
}

.control-button {
  display: none;
  color: var(--BaseColor);
  background: var(--ActionColor);
  width: auto;
  padding: 0.5rem 0.8rem;
  font-size: 2.5em;
  border-radius: 0.3rem;
  z-index: 100;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 2px 4px #ffffff33, 0 2px 4px rgba(0, 0, 0, 0.575);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.screen {
  height: 18rem;
}

.screen-container:hover .control-button {
  display: inline;
}

.control-button:hover {
  color: var(--ActionColor);
  background: var(--BaseColor);
}


@media (max-width: 924px) {
  .desk-top_wrapper {
    flex-direction: column;
  }

}

@media (max-width: 768px) {

  .desk-top_wrapper {
    flex-direction: column;
  }

  .screen-container {
    padding: 0rem;
    margin: 0;

  }

  .control-button {
    display: inline;
  }

  .stand {
    width: 30%;
  }

  .stand-neck {
    height: 3.125rem;
  }

  .stand-base {
    height: 30px;
  }

}


@media (max-width: 550px) {

  .screen-container {
    height: 24rem;
  }

  .screen {

    height: 14.125rem;
  }

  .controls {
    width: 100%;
    justify-content: space-around;
  }

  .control-button {
    transform: scale(0.8);
  }

  .stand {
    width: 35%;
  }

  .stand-neck {
    height: 50px;
  }

  .stand-base {
    height: 24px;
  }

  .controls {
    margin-top: 20px;

  }
}

/* @media (max-width: 380px) {

  .screen-container {
    width: 35rem;
    padding: 0 4rem;
}
.screen{
  height: 13rem;
}


} */