
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 3.1rem 3.5rem;
  background: linear-gradient(270deg, #023047, #023047ed),
    url("../Assets/980.jpg");
  background-repeat: no-repeat;
  margin-left: auto;
  background-size: cover;
  background-position: right;
  position: relative;
}
.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 0.5rem;
  margin-top: 3rem;
  box-sizing: border-box;
 

}

.hero-content {
  min-height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10000;
  box-shadow: 0px 0px 10px var(--CardBackground);
}

.typing-effect {
  display: flex;
  height: fit-content;
  padding: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: left;
  border-color: transparent;
  animation-duration: 8550ms;
  /* animation-delay: 8000ms; */
  animation-fill-mode: forwards;
  opacity: 0;
  animation-timing-function: linear;
  animation-name: typing;
}

.typing-effect h1 {
  color: var(--HeadingText);
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: oblique;
  letter-spacing: -1px;
}

.hero-content h6 {
  width: 50%;
  padding: 1rem 0;
  text-align: left;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 15px;
  color: white;
}
.skill-desc {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
}

.skill-desc p {
  width: 40%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--HeadingText);
}

.explore-work {
  width: fit-content;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  margin: 0.5rem 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms, transform 300ms;
}

.explore-work:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.explore-work:active {
  background-color: #00408d;
}
.hero-image {
  flex: 1;
  background: linear-gradient(270deg, #02304709, #0230475b),
    url("../Assets/hero_1.png");
  background-size: cover;
  background-position: center;
  background-size: 120% 70%;
  height: 105%;
  width: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  /* box-shadow: 0px 0px 10px var(--CardBackground); */
}

/* Tablet View */
@media screen and (max-width: 1023px) {

  .typing-effect h1 {
    font-size: 1.8em;
  }
  .hero-image {
    background-size: 100% 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}

/* Mobile view */
@media screen and (max-width: 760px) {

  .hero-wrapper {


     padding: 0rem }

 
  .hero-content {
    /* min-height: 60%; */
    width: 92%;

  }


  .typing-effect h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 5rem;
     /* background-color: var(--MainColor); */
  }

  .skill-desc p {
    width: 45%;
    text-align: left;

    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .hero-content {
    position: absolute;
    z-index: 200;
    color: white;
    background-color: #003f8d3d;
    box-shadow: 0px 0px 10px var(--CardBackground);
  }


  .hero-image {

    background-size: 120% 50%;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;
    top: -0;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
  }


}
@media (orientation: landscape) {
 
.hero-wrapper {

  height: 140vh;

}
}