
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  /* padding: 0rem 3.5rem; */
  background: var(--BaseColor);
  background-repeat: no-repeat;
  margin-left: auto;
  background-size: cover;
  background-position: right;
  overflow-x: hidden;
 
  background-image:linear-gradient(270deg, #23857a00,#23857a00 ),url("../Assets/Circuit\ Primary.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.up-wrapper{
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  padding: 0;
  height: fit-content;
  position: fixed;
  bottom: 0;
  margin: 2rem 0.4rem;
  right: 1%;
  z-index: 100;
  background-color: transparent;
}

.up{
  z-index: 1000;
  color: var(--BaseColor);
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ActionColor);
  border-radius: 5px;
  padding: 1rem 0.5rem;
  cursor: pointer;
  border: 1px solid var(--ActionColor);
  transition: all 300ms ease;

}
.up:hover{
  background-color: var(--BaseColor);
  color: var(--ActionColor);

}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  top: 3.5rem;
  right: 1.5%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--BaseColor);
  background: var(--PrimaryColor);
  transition: 500ms;
  border-radius: 2rem;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #004b8d;
  transition: 500ms;
}

input:checked + .slider {
  background-color: var(--PrimaryColor);
}

input:checked + .slider::before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #022f45;
}
.small-circle::before,
.small-circle::after,
.big-circle::before,
.big-circle::after{
  content: '';
  position: absolute;
  border-radius: 50%;
 
}

.small-circle::before{
  width: 3rem;
  height: 3rem;
  top: 70%;
  background-color: var(--BaseColor);
}

.small-circle::after{
  width: 2rem;
  height: 2rem;
  left: 22.5%;
  top: 13%;
  background-color: var(--BaseColor);
}
.big-circle::before{
  width: 5rem;
  height: 5rem;
  top: 70%;
  border-radius: 50%;
  background-color: hsla(173, 58%, 33%, 0.082);
}

.big-circle::after{
  width: 4rem;
  height: 4rem;
  left: 20%;
  top: 10%;
  background-color: #063e5a66;
}
.hero-container {
  width: 100%;
  height: 100%;
  gap: 2rem;
  display: flex;
  justify-content: space-evenly;
  column-gap: 1rem;
  padding: 2rem 1.5rem;
  margin-top: 3rem;
  perspective: 50rem;

}


[class*='bigText-'] {
  position: absolute;
  left: 16%;
height: fit-content;
  width: auto;
  margin: 0 auto 0 auto;
  font-family: 'Lato', sans-serif;
  /* line-height: 280px; */
  font-size: 1.5em;
  /* padding: 80px 50px; */
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  /* background-color: yellowgreen; */
  z-index: 10000;
}

.bigText-1{
  position: absolute;
  
  top: 6%;
}

.bigText-2{
  position: absolute;
  left: 12%;
  top: 6%;
}

[class*='bigText-']::before {
  z-index: 10000;
  content:"";
  /* width: 100%; */
  /* height: 750px; */
  position: absolute;
  /* top: -200px; */
  /* left: 10px; */
  transform: rotate(55deg);
  background: rgba(206,188,155,.7);
  background: -moz-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  /* background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,188,155,.7)), color-stop(65%, rgba(42,31,25,0))); */
  background: -webkit-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -o-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -ms-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 ); 
}


#text3d {
  z-index: 10000;
  color: var(--PrimaryColor);
  letter-spacing: .15em;
  text-shadow: 
    -1px -1px 1px #434343f9, 
    0px 1px 0 #2e2e2e, 
    0px 2px 0 #2c2c2c, 
    0px 3px 0 #2a2a2a, 
    0px 4px 0 #282828, 
    0px 5px 0 #262626, 
    0px 6px 0 #242424, 
    0px 7px 0 #222, 
    0px 8px 0 #202020, 
    0px 9px 0 #1e1e1e, 
    0px 10px 0 #1c1c1c, 
    0px 11px 0 #1a1a1a, 
    0px 12px 0 #181818, 
    0px 13px 0 #161616, 
    0px 14px 0 #141414, 
    0px 15px 0 #121212,
    2px 20px 5px rgba(0, 0, 0, 0.9),
    5px 23px 5px rgba(0, 0, 0, 0.3),
    8px 27px 8px rgba(0, 0, 0, 0.5),
    8px 28px 35px rgba(0, 0, 0, 0.9);
}

.hero-image {
  transform: translateY(100px);
  background:linear-gradient(270deg, var(--heroTransparent),transparent ),url("../Assets/sentiment-analysis-concept-illustration.png");
  background-position: center;
  background-size: contain;
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  transform: rotateY(-10deg);
  transition: transform 500ms ease-in-out;
}

.hero-content-wrapper{
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
  padding-bottom: 1rem;
}

.hero-content {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem 1rem;
  z-index: 10000;
  box-shadow: 0px 0px 4px var(--PrimaryColor);
  background-color: var(--BaseColor);
}

.typing-effect {
  display: flex;
  height: fit-content;
  padding: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: left;
  border-color: transparent;
  animation-duration: 8550ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-name: typing;
}
@keyframes typing{ 0%{ width: 0px; opacity: 1;}100%{width: 100%;opacity: 1;}}

.typing-effect h1 {
  color: var(--PrimaryColor);
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: oblique;
  letter-spacing: -1px;
}

.hero-content h6 {
  width: 50%;
  padding: 1rem 0;
  text-align: left;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--PrimaryColor)
}

.hero-media{
  position: relative;
  left: 0%;
  width: fit-content;
  height: auto;
  display: flex;
  padding: 0.2rem ;
}

.hero-media .media-icon{
  font-size: 1.8em;
  color: var(--ActionColor);
  margin-right: 2rem;
}

.media-icon:hover{
  color: var(--BaseColor);
  background-color: var(--ActionColor);


}
.skill-desc {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
}

.skill-desc p {
  width: 40%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  color: var(--PrimaryColor);
}

.explore-work {
  width: fit-content;
  display: inline-block;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  color: var(--BaseColor);
  background-color: var(--ActionColor);
  margin: 0.5rem 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--ActionColor);
  transition: background-color 300ms ease-in-out;
}

.explore-work:hover {
  background-color: var(--BaseColor);
  color: var(--ActionColor);
}

 

@media screen and (max-width: 1023px) {
  .hero-container {
    flex-wrap: wrap;
  }
  .hero-content-wrapper{
    width: 50%;
  }
  .hero-image {
    position: relative;
    background:linear-gradient(270deg, var(--heroTransparent),transparent ),url("../Assets/sentiment-analysis-concept-illustration.png");
    background-position: center;
    background-size: contain;
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    transform: rotateY(-10deg);
    transition: transform 500ms ease-in-out;
    top: 3rem;
  }

  .typing-effect h1 {
    font-size: 1.8em;
  }

  /* .hero-image {
    background: linear-gradient(270deg, #003f8d00, #003f8d00),
    url("../Assets/hero_1.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;
    top: -0;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
  } */
 
}

@media screen and (max-width: 760px) {

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100svh;
    /* padding: 0rem 3.5rem; */
    background: var(--BaseColor);
    background-repeat: no-repeat;
    margin-left: auto;
    background-size: cover;
    background-position: right;
    overflow-x: hidden;
   
    background-image:linear-gradient(270deg, #23857a00,#23857a00 ),url("../Assets/Sprinkle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-content-wrapper{
    width: auto;
    row-gap: 3rem;
  }

  .hero-content {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px var(--PrimaryColor);

  
      background-color: transparent;
 
  }

   .hero-image {
    display: none;
  }

  .up-wrapper{
    display: none;
  }

  .explore-work {
   
    font-weight: 500;
    padding: 0.5rem 0.6rem;
    font-size: 1.05em;
    border-radius: 5px;
  }

  .slider::before {
    content: "";
    height: 1.2em;
    width: 1.2em;
    bottom: 10%;
  }
  .switch {
  
    width: 3em;
    height: 1.6em;
  }

  .hero-content h6 {
    font-weight: 400;
    color: var(--PrimaryColor);
  }
  
  .media-icon:hover{
    color: var(--ActionColor);
    background-color:var(--BaseColor) ;
  
  }

    /* .hero-image {
      background:linear-gradient(270deg, #23857a89,#23857a00 ),url("../Assets/hero_screen.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;
    top: -0;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
  } */

  /* .hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 2rem 5rem;
  }
  .hero-image{
    background-size: contain; 
  }
  .hero-wrapper {padding: 0rem }

  .hero-content { width: 100%; height: 80%;} */
}

/* 
@media screen and (max-width: 760px) {



 
  .hero-content {
    width: 90%;

  }


  .typing-effect h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 5rem;
  }

  .skill-desc p {
    width: 45%;
    text-align: left;

    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .hero-content {
    position: absolute;
    z-index: 200;
    color: white;
    background-color: #003f8d3d;
    box-shadow: 0px 0px 10px var(--CardBackground);
  }



} */

/* @media screen and (max-width: 425px) {
  .hero-wrapper{
    background-color: rgb(12, 74, 128);
    height:fit-content ;
  }
  .hero-content h6{
    font-size: 0.8em;
    color: #93c7ff
    ;
    color: greenyellow;

  }

  .hero-content { height: 55%;}
  .skill-desc p {font-size: 0.9em;}


} */
/* 
@media (orientation: landscape) {
 

}  */