/* 
header{
    height: fit-content;
    backdrop-filter: blur(5px);
    background: linear-gradient(0deg, #024730b0 0%, #00000028 100%);
    text-align: center;
    position: relative;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
    position: fixed;  
}

header h2{
    color: #11ffef00;
}

nav{
    color: var(--FontColor);
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: left;
    top: 100%;
    left: 0;
    background-image: linear-gradient(-45deg,var(--MainTrans-2),var(--MainColor)),url("../Assets/971.png");
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform:scale(0,0);
    transform-origin:  top;
    transition:transform 520ms ease-in-out;
    padding:  1.15rem;
    
}


.list-icon-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    align-items: flex-start;
}

.list-icon-wrapper a{

    color: var(--FontColor);
    font-size: 1em;
    font-weight: 700;
    font-family: m;
    text-transform: uppercase;
    transition: transform 400ms ease-in-out;
    color:  var(--PrimaryColor);
    text-decoration: none;
    padding: 6px;
    
}







.list-icon-wrapper a:hover{ 

    color: var(--PrimaryColor);
    transform: scale(1.1);
    font-weight: 600;
    box-shadow: 0px 0px 2px var(--PrimaryColor);
    border-radius: 3px;

    
    
} 

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
 }


.nav-toggle-label{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 1em;
    display: flex;
    align-items: center;
}

.nav-toggle-label img{
    width: 30px;
    height: 30px;
    
    
    position: relative;
  
    
}






@media screen and (min-width:768px){

     header{
        width: 70%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        padding:  0;
        border-radius: 3rem;
        left: 15%;
        top: 2rem;
        box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.274);

    }

    .media-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0px 0px 4px var(--PrimaryColor);
        padding: 8px;
        column-gap: 12px;
        transition:all 300ms ease-out;
        background: transparent;
    }
    
    .media-wrapper:hover{
        box-shadow: 0px 0px 6px  var(--PrimaryColor);
        transform: scale(1.01)
    }

    .nav-toggle-label{display: none;}



    nav{

        all: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 60px ;
    }

    .list-icon-wrapper{
        width: 40%;
        flex-direction:row;
        justify-content: space-between;
        flex-shrink: 1;
        padding:8px 0px 8px 0 ;
    }

   
    .list-icon-wrapper a{ 

       margin-bottom: 1.5rem;
        
    } 
    .list-icon-wrapper a:hover{ 

       
        transform: scale(1);
        box-shadow:none;
        border-radius: 0px;
        
    } 


    
    .list-icon-wrapper a::before{
        content: '';
        display: block;
        height: 2px;
        background: var(--PrimaryColor);
        margin: 10px 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    } 


    .list-icon-wrapper a:hover::before{
        transform: scale(1,1);
    } 
} */
/*=================================================================================================================*/



/* src/components/NavBar.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Rest of your CSS */
.navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MainColor);
  padding:  1rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

}

.logo-hamburger{
    display: flex;
    align-items: center;
}
.navbar-logo {
  font-family: 'Dancing Script', cursive;
  font-size: 1.6rem;
  font-weight: 100;
  color: var(--HeadingText);
  animation: logoAnimation 2000ms ease-in-out infinite;
}

@keyframes logoAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.navbar-links {
  display: flex;
  transition: max-height 300ms ease-in-out;
  overflow: hidden;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: var(--HeadingText);
  text-decoration: none;
}


.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 760px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    background-color: var(--MainColor);
    width: 100%;
    text-align: center;
    /* background-color: #003366; */
    position: absolute;
    top: 50px;
    left: 0;
    max-height: 0;
    transition: max-height 500ms ease-in-out;
  }
  .logo-hamburger{
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

  .navbar-links.open {
    max-height: 200px;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
  .icon {
    color: #1589ff;
    font-size: 1.5rem;
  }

  .nav-links a:hover {
    color: #1589ff;
  }
}
