

  
.projects{

  display: flex;
  flex-direction: column;
  gap: 50px;
  /* padding: 40px; */
  align-items: center;
  justify-content: center;
  background-color: var(--MainColor);

  

}


.project-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
  /* padding: 40px; */
  box-shadow: 0px 0px 10px var(--CardBackground);
  border-radius: 12px;

  animation-duration: 1200ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-timing-function: linear;
  animation-name: zoom;
}


@keyframes zoom{ 0%{ transform: scale(0); opacity: 1;}100%{transform: scale(1);opacity: 1;}}



  .card-1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    color: var(--FontColor);
    padding:12px;
    gap: 14px;
    border-radius: 8px;
    border: none;

    box-shadow: -1rem 0 3rem black;

    /* box-shadow: 0px 0px 4px var(--PrimaryColor); */
    background-image: radial-gradient(var(--CardBackground),var(--MainColor)); 
    transition: all 620ms;
    
  }

  .card-1:hover {
    
    background-image: radial-gradient(#03111f,#023047); 
    box-shadow: 0px 0px 10px var(--PrimaryColor);
  }

  .card-1 h4{
    display: flex;
    align-self: self-start;
    font-size: 1.6em;
    color: var(--PrimaryColor);
    font-weight: 600;
    font-family: Inter;
    text-transform: capitalize;
    text-align: start;

   }

   .card-1 p{
      display: flex;
      align-self: self-start;
      font-weight: 400;
      font-size: 1em;
      text-align: start;
      font-family:monospace;
      color: #43a0ff;
     
    }

   

  .card-1 button{
  
   align-self: flex-start;
   height: fit-content;
   width: 100px;
   padding: 15px;
   margin: 8px;
   color: var(--FontColor);
   font-size: 1.1rem;
   font-weight: 600;
   text-align: center;
   background-color: var(--PrimaryColor);
   border-radius: 5px;
   border: none;
   transition: all 820ms ease;
  }



  @keyframes show{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
  }
 


  

  .button_wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }

  .button_wrapper a{
    text-transform: uppercase;
   font-weight: 400;
    padding: 4px;
    color: var(--PrimaryColor);
  }

  .view-project {
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 6px;
    color: var(--PrimaryColor);
    font-weight:400;
    font-size: large;
    cursor: pointer;
    border: 1px solid var(--PrimaryColor);
  }

  .project{
    text-decoration: none;
    font-size: 0.78em;
  }

  

  
  .logo{
    display: flex;
    flex-direction: row;
    
    
    
    
}

 .logo .j-logo{

    font-weight: 600;
    color: aqua;
}

.logo .t-logo{

    font-weight: 600;
    color: aqua;
}

.logo h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
}
  
 
  
  /* [class*='mygallery-'] div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.05);
  } */


  .eazivot {
  
    background-color: #ff4af3;
    padding: 6px;
    border-radius: 8px;
    
  }
  
  .card__icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
  }

 
  @media screen and (min-width:768px){
    .projects{padding: 60px; }

    .project-wrapper{
      /* inset: unset; */
      /* display: grid;
      grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
      column-gap: 5rem; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0px;
      /* background-color: #0e5fb2; */
      justify-content: center;
      align-items: center;
    }

  
    .card-1{
      box-shadow: -1rem 0 3rem black;
    }
    .card-1:hover {
    
      background-image: radial-gradient(#03111f,#023047); 
      background-color: #0e5fb2;
      /* box-shadow: 0px 0px 10px var(--PrimaryColor); */
      /* border-radius: 255px 15px 225px 15px/15px 225px 15px; */
      
    }
   
 

    .card-1 h4:hover{
      background: linear-gradient(90deg,#ff4af3,yellow);
      text-shadow: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .half-circle{
      /* position: absolute; */
      bottom: 0;
      left: 0;
      width: 60px;
      height: 48px;
      fill: none;
      stroke: yellow;
      stroke-width: 8;
      stroke-linecap: round;
      pointer-events: none;
    }

    .card__icon{
      display: flex;
      flex-direction: column;
    }

    /* .project-wrapper{flex-direction: row;justify-content: center; column-gap: 0px;flex-wrap: wrap;} */
    /* .card-4:not(:first-child){
      margin-left: -130px;
    }
    .k{
      margin-left: -130px;
    } */
    /* .card-5:not(:first-child){
      margin-left: 130px;
    } */

    /* .card-6:not(:first-child){
      margin-left: -130px;
    } */

  
    /* .card-4:hover~.card-4{
      transform: translateX(20px);
    }
    .card-5:hover~.card-5{
      transform: translateX(20px);
    }
    .card-6:hover~.card-6{
      transform: translateX(20px);
    }

    .card-4{
      transform: translateY(-1rem);
    }

    .card-5{
      transform: translateY(-1rem);
    }

    .card-6{
      transform: translateY(-1rem);
    } */


  }

  @media screen and (min-width:1000px){

    /* .card-2:not(:first-child){
      margin-left: -130px;
    } */

    /* .card-3:not(:first-child){
      margin-left: -130px;
    } */

    /* .card-2:hover~.card-2{
      transform: translateX(70px);
    } */

    /* .card-3:hover~.card-3{
      transform: translateX(70px);
    } */

    /* .card-2{
      transform: translateY(-1rem);
      background: #ff4af3;
    } */

    /* .card-3{
      background: #130112;
      transform: translateY(-1rem);
    } */

    /* .project-wrapper{
 
      grid-template-columns: repeat(minmax(50rem),1fr);

    } */
  }

  @media screen and (min-width:1320px){

    .card-1:not(:first-child){
      margin-left: -130px;
    }

    .card-1:hover~.card-1{
      transform: translateX(70px);
    }

    .card-1{
      transform: translateY(-1rem);
    }

    .project-wrapper{
 
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    }
  }

  /* @media screen and (min-width:1900px){

    .card-1:not(:first-child){
      margin-left: -130px;
    }

    .card-1:hover~.card-1{
      inset: unset;
      transform: translateX(70px);
    }

    .card-1{
      inset: unset;
      transform: translateY(-1rem);
    }

    .project-wrapper{
      inset: unset;
      inset: unset;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    }
  }
   */




 


