@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.skills-section{
  height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3.75rem 0 7.5rem 0; 
    background:var(--BaseColor);
    overflow-x: hidden;

    
  background-image:linear-gradient(270deg, #23857a00,#23857a00 ),url("../Assets/Sprinkle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  }

  .skills-title{
    color: var(--PrimaryColor);
  }
  
  .skills-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 0;
    
  }



  [class*='skill-wrapper-']{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    column-gap: 2rem;
    padding: 3px 0;
  }


  .skill-wrapper-1{
    /* background-color: aliceblue; */
  }
  
  .skills-title{
  
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      margin-bottom: 22px;
  }

  .main-skill_wrapper{
   
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
    padding: 2.5rem 1.5rem;
    
  }

  
  .progress-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  .flip-card {
    display: flex;
    /* flex-shrink: 1; */
    background-color: transparent;
    width: 10em;
    height: 12em;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 600ms;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    transition: all 100ms;
  }
  
  .flip-card-front {
    box-shadow: 0px 0px 4px var(--PrimaryColor);
    color: var(--PrimaryColor);
  }
  
  .flip-card-back {
    background-color: var(--PrimaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
  
  .flip-card-back p{
  
    color: var(--BaseColor);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .skill-icon {
    
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
  
  
  .skill-1{
    display: flex;
    column-gap: 0.5rem;
  }
  .subject {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    flex-shrink: 0;
    font-weight: 400;
    text-align: center;
    flex-wrap: nowrap;
    color: var(--PrimaryColor);
  }
  

  #clickable{
    font-size: 1.2rem;
    opacity: 0;
  }




  @media screen and (max-width:760px){

 

    .main-skill_wrapper{
      width: unset;
      flex-direction: row;
      gap: 1.5rem;
    }

    .skills-container{padding: 2rem 0;}

    [class*='skill-wrapper-']{
      
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      
    }

    .flip-card-back p{
  
   
      color: var(--BaseColor);
      font-family: "Roboto", sans-serif;
      font-weight: 300;font-size: 1em;
    
    }
    #clickable{
      position: absolute;
      right: 3.8%;
      bottom: 3.8%;
      opacity: 1;
      
       animation: clickableWave 3000ms ease-in-out infinite;
      
    }

    @keyframes clickableWave {

     
        0%, 100% {
          
          
          transform: scale(0.8);
        }
        50% {
       
          transform: scale(1.2);
        }
   
      
    }


    
}


@media screen and (max-width:375px){

  .flip-card {

    width: 9.5em;
    height: 11.5em;
    perspective: 1000px;
  }

  .flip-card-back p{
  
   
    color: var(--BaseColor);
    font-family: "Roboto", sans-serif;
    font-weight: 300;font-size: 1em;
  
  }

} 



/* 
@media screen and (max-width:320px){

  .flip-card {
    width: 130px;
    height: 180px;
  }
} */


/* @media screen and (min-width:1024px){

  .skills-section{padding: 3.75rem 3.75rem 7.5rem 3.75rem; }

    .main-skill_wrapper{ row-gap: 2rem; }

    .skills-container{ padding: 2rem 0; }


    [class*='skill-wrapper-']{ column-gap: 2rem;}

  } */