
.skills-section{

    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0.5rem 7rem 0.5rem;
    background:var(--MainTrans);
  
  }
  
  .skills-container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-radius: 12px;
    background-image: var(--SkillImage);
    background-color: var(--MainColor);
    
  }



  [class*='skill-wrapper-']{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3px 0;
    
  }

  .skill-1{
    display: flex;
    column-gap: 0.5rem;
  }

  /* .skill-wrapper-1{ background-color: aqua;}

  .skill-wrapper-2{ background-color: bisque;} */
  
  .skills-title{
  
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      margin-bottom: 22px;
  }

  .main-skill_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    
  }


  
 
  
  .progress-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 17, 17, 0);
  }
  
  [class*='progress-wrapper']{
    width: 162px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    text-transform: capitalize;
    background: #041b33a2;
    overflow: hidden;
    transition: all 100ms;
  
  }
  [class*='progress-wrapper']:hover h3::before {
    content: attr(java) 
    attr(csshtml) attr(python)
    attr(sql)attr(matlab)
    attr(react) attr(android)
    attr(github);
    position: absolute;
    display: flex;
    align-items:center;
    font-weight: 200;
    word-spacing: 0px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background: #041b33;
    top: 0;
    left: 0;
    width: 0%;
    color: var(--PrimaryColor);
    overflow: hidden;
    animation: animate 700ms linear forwards;
  }


  @keyframes animate {
    0% {
      width: 0%;
      height: 0%;
    }
    50% {
      width: 50%;
      height: 50%;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  [class*='progress-wrapper']:hover{
    transform: translateX(0px);
    text-transform: capitalize;
  }

  [class*='progress-wrapper'] h3{
   font-size: 1em;
   margin: 10px;
  
  }

  
  .subject{
    display: flex;
    margin: auto;
    flex-shrink: 0;
    font-size: 0.6em;
    font-weight: 600;
    text-align: center;
    flex-wrap: nowrap;
    color: var(--PrimaryColor);
    opacity: 1;
    transition: opacity 2000ms;
  
  }
  
  
  
  .skill-icon{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
  
  

  @media screen and (min-width:768px){
    .skills-section{padding: 60px 60px 120px 60px; }

    .main-skill_wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      column-gap: 60px;

    }

    .skills-container{ padding: 60px; }

    [class*='skill-wrapper-']{
      flex-direction: row;
    }

 

 
    
}



@media screen and (max-width:320px){

[class*='progress-wrapper']{
  width: 130px;
  height: 180px;
}
}